<!DOCTYPE html>
<html>
<head>
    <title>Обратная связь отправлена</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="centered-container">
        <h1>Спасибо за обратную связь!</h1>
        <p>Ваша заявка успешно отправлена. Мы свяжемся с вами в ближайшее время.</p>
        <div class="button-container">
            <a href="/" class="button">Вернуться на главную</a>
        </div>
    </div>
    <div class="info-boxes">
        <div class="info-box">
            <h2>Описание 1</h2>
            <p>Текст описания 1.</p>
            <a href="#">Полезная ссылка 1</a>
        </div>
        <div class="info-box">
            <h2>Описание 2</h2>
            <p>Текст описания 2.</p>
            <a href="#">Полезная ссылка 2</a>
        </div>
        <div class="info-box">
            <h2>Описание 3</h2>
            <p>Текст описания 3.</p>
            <a href="#">Полезная ссылка 3</a>
        </div>
    </div>
</body>
</html>
