<!DOCTYPE html>
<html>
<head>
    <title>Обратная связь отправлена</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="centered-container">
        <h1>Спасибо за обратную связь!</h1>
        <p>Ваша заявка успешно отправлена. Мы свяжемся с вами в ближайшее время.</p>
        <div class="button-container">
            <a href="/" class="button">Вернуться на главную</a>
        </div>
    </div>
    <div class="info-boxes">
        <div class="info-box">
            <h2>Мероприятия</h2>
            <p>Будьте в курсе образовательных встреч и мероприятий в сфере КЭДО.</p>
            <a href="https://hr-link.ru/blog/events" class="info-link" target="_blank">Подробнее</a>
        </div>
        <div class="info-box">
            <h2>Кейсы</h2>
            <p>Посмотрите какие есть успешные опыты коллег из Вашей сферы.</p>
            <a href="https://hr-link.ru/#cases" class="info-link" target="_blank">Подробнее</a>
        </div>
        <div class="info-box">
            <h2>Тарифы</h2>
            <p>Тут можно ознакомиться с нашими ценами.</p>
            <a href="https://hr-link.ru/#price" class="info-link" target="_blank">Подробнее</a>
        </div>
    </div>
</body>
</html>
