<!DOCTYPE html>
<html>
<head>
    <title>Форма ввода данных</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="centered-container">
        <h1>Введите данные</h1>
        <form action="/check_license" method="post">
            <label for="employee_count">Сколько сотрудников работает в вашей компании?</label>
            <input type="number" id="employee_count" name="employee_count" required><br><br>

            <label for="hr_specialist_count">Сколько кадровых специалистов в вашей компании?</label>
            <input type="number" id="hr_specialist_count" name="hr_specialist_count" required><br><br>

            <label for="documents_per_employee">Сколько в среднем документов подписывает сотрудник за год? Обычно это около 30 документов. Укажите число, актуальное для вашей компании.</label>
            <input type="number" id="documents_per_employee" name="documents_per_employee" required><br><br>

            <label for="pages_per_document">Сколько в среднем страниц в каждом документе? Обычно это 1,5 страницы. Укажите число, актуальное для вашей компании.</label>
            <input type="number" step="0.01" id="pages_per_document" name="pages_per_document" required><br><br>

            <label for="turnover_percentage">Какой процент текучки в вашей организации?</label>
            <input type="number" step="0.01" id="turnover_percentage" name="turnover_percentage" required><br><br>

            <label for="average_salary">Какая средняя ежемесячная зарплата сотрудников отдела кадров с учетом налогов? Данные нужны для точного расчета времени, которое сотрудники отдела кадров тратят на работу с бумажными документами, и не будут переданы или использованы вне этого приложения. Вы можете сократить это время и освободить специалистов для выполнения других задач. В ответе укажите целое число"</label>
            <input type="number" step="0.01" id="average_salary" name="average_salary" required><br><br>

            <label for="courier_delivery_cost">Сколько в среднем стоит одна курьерская доставка документов?</label>
            <input type="number" step="0.01" id="courier_delivery_cost" name="courier_delivery_cost" required><br><br>

            <label for="hr_delivery_percentage">Какой процент от общего числа курьерских доставок занимает отправка кадровых документов?</label>
            <input type="number" step="0.01" id="hr_delivery_percentage" name="hr_delivery_percentage" required><br><br>

            <input type="submit" value="Рассчитать" class="calculate-button">
        </form>
    </div>
</body>
</html>