<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор выгоды</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="centered-container">
        <h1>Калькулятор выгоды перехода на КЭДО</h1>
        <a href="/form" class="button">Приступить к расчётам</a>
    </div>
    <div class="info-boxes">
        <div class="info-box">
            <h2>Мероприятия</h2>
            <p>Будьте в курсе образовательных встреч и мероприятий в сфере КЭДО.</p>
            <a href="https://hr-link.ru/blog/events" class="info-link" target="_blank">Подробнее</a>
        </div>
        <div class="info-box">
            <h2>Кейсы</h2>
            <p>Посмотрите какие есть успешные опыты коллег из Вашей сферы.</p>
            <a href="https://hr-link.ru/#cases" class="info-link" target="_blank">Подробнее</a>
        </div>
        <div class="info-box">
            <h2>Тарифы</h2>
            <p>Тут можно ознакомиться с нашими ценами.</p>
            <a href="https://hr-link.ru/#price" class="info-link" target="_blank">Подробнее</a>
        </div>
    </div>
</body>
</html>
