<!DOCTYPE html>
<html>
<head>
    <title>Форма обратной связи</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Форма обратной связи</h1>
    <form action="/submit_feedback" method="post">
        <label for="inn">ИНН Вашей организации:</label>
        <input type="text" id="inn" name="inn" required><br><br>

        <label for="name">Как к Вам обращаться:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="phone">Номер телефона для связи:</label>
        <input type="text" id="phone" name="phone" required><br><br>

        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="preferred_contact">Какой способ связи предпочтителен?</label>
        <select id="preferred_contact" name="preferred_contact" required>
            <option value="звонок">Звонок</option>
            <option value="мессенджер">Мессенджер</option>
            <option value="почта">Почта</option>
        </select><br><br>

        <input type="submit" value="Отправить">
    </form>
</body>
</html>
